
<!-- ----- début fragmentVaccinMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router.php?action=vaccinAccueil">CHARPENTIER Antoine-Valentin & BOUREL Rémi</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- première rubrique du menu : Gestion des vaccins-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Gestion des vaccins<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=vaccinReadAll">Liste des vaccins</a></li>
          <li><a href="router.php?action=vaccinCreate">Ajout d'un vaccin</a></li>
          <li><a href="router.php?action=vaccinUpdate">Mise a jour d'un vaccin</a></li>     
        </ul>
      </li>
      <!-- deuxième rubrique du menu : Gestion des centres-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Gestion des centres<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=centreCreate">Ajout d'un centre</a></li>
          <li><a href="router.php?action=centreReadAll">Liste des centres</a></li>    
        </ul>
      </li>
      <!-- troisième rubrique du menu : Gestion des patients-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Gestion des patients<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=patientCreate">Ajout d'un patient</a></li>
          <li><a href="router.php?action=patientReadAll">Liste des patients</a></li>    
        </ul>
      </li>
      <!-- quatrième rubrique du menu : Gestion de stocks-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Gestion des stocks<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=stockCentre">liste des centre avec le nombre de dose de chaque vaccins</a></li>
          <li><a href="router.php?action=stockGlobal">Nombre global de doses des centres</a></li>
          <li><a href="router.php?action=stockInsertDose">Attribution de vaccins pour un centre</a></li>
        </ul>
      </li>
      <!-- quatrième rubrique du menu : Gestion des rendez-vous-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Gestion des rendez-vous<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=rdvSelectPatient">Dossier de vaccination d'un patient</a></li>
        </ul>
      </li>
      <!-- quatrième rubrique du menu : Mes innovations-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false">Mes innovations<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=innovationSelectCentre&target=innovation1Classement">Innovation 1 : Classement des centres / nombre total d'injection / vaccin par rapport aux autres centres</a></li>
          <li><a href="router.php?action=innovation2Localisation">Innovation 2 : Localisation d'un centre via Google Map</a></li>
          <li><a href="router.php?action=innovation3Bilan">Innovation 3 : Bilan personne vaccinée / type de vaccin</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentVaccinMenu -->

