
<!-- ----- début fragmentVaccinMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="router.php?action=vaccinAccueil">CHARPENTIER Antoine-Valentin & BOUREL Rémi</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- première rubrique du menu : Gestion des vaccins-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
           aria-haspopup="true" aria-expanded="false">Gestion des vaccins<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="router.php?action=vaccinReadAll">Liste des vaccins</a></li>
          <li><a href="router.php?action=truc">Ajout d'un vaccin</a></li>
          <li><a href="router.php?action=truc">Mise a jour d'un vaccin</a></li>     
        </ul>
      </li>          
    </ul>
  </div>
</nav>

<!-- ----- fin fragmentVaccinMenu -->

